<!doctype html>
<html lang="en">
<head>
  <%- include('partial/header.html.ejs', {}); %>
  <title>CAC Translation Feedback</title>
</head>
<body>
<%- include('partial/navbar.html.ejs', {}); %>
<div class="container">
  <%- include('partial/lead.html.ejs', {
  notice: 'Your translation request was successfully submitted.',
  message: 'Thanks for your request!',
  }); %>
  <hr>
  <p>Your request for the page <b>"<span id="icac-page-title">...</span>"</b> has been received.</p>

  <hr>
  <div class="media">
    <img class="mr-3 img-thumbnail" src="<%= meeple.neko %>" alt="Generic placeholder image">
    <div class="media-body">
      <h6 class="mt-0">Manami Ogawa, Localization Manager</h6>
      The localization manager improves translation based on your feedback.
    </div>
  </div>
  <p></p>
  <%- include('partial/optional-form.html.ejs', {}); %>
  <p style="padding: 2rem 0"></p>
  <%- include('partial/translation-contributors.html.ejs', {}); %>

</div>
</body>
</html>
