<!doctype html>
<html lang="en">
<head>
  <%- include('partial/header.html.ejs', {}); %>
  <title>CAC Translation Feedback</title>
</head>
<body>
<%- include('partial/navbar.html.ejs', {}); %>
<div class="container">
  <%- include('partial/lead.html.ejs', {
  notice: 'Your translation request was successfully submitted.',
  message: 'Thanks for your request!',
  }); %>
  <hr>
  <p>Your request for the page <b>"<span id="icac-page-title">...</span>"</b> has been received.</p>

  <hr>
  <p></p>
  <%- include('partial/translation-contributors.html.ejs', {}); %>
  <p></p>
  <%- include('partial/optional-form.html.ejs', {}); %>

</div>
</body>
</html>
